<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.customStyle %>">
</head>

<body>
    <div style="margin: 0 auto;text-align: center;">
        <h1>react-inputs-validation</h1>
        <a href="https://github.com/edwardfhsiao/react-inputs-validation">fork me on Github@edwardfhsiao</a></div>
    <br/>
    <br/>
    <div class="root" id="root"></div>
    <%= htmlWebpackPlugin.options.customJs %>
</body>

</html>