{
    "presets": ["@babel/preset-env", "@babel/preset-react", "@babel/preset-typescript"],
    "env":
    {
        "development":
        {

        },
        "production":
        {

        },
        "lib":
        {
            "plugins": [
                "css-modules-transform",
                "@babel/proposal-class-properties",
                "@babel/proposal-object-rest-spread"
            ],
        },
        "test":
        {
            "plugins": [
                "babel-plugin-rewire"
            ]
        }
    }
}