/coverage
/example
/webpack
/src
/.babelrc
/.eslintrc.json
/eslintignore.json
/.gitignore
/.travis.yml
/jest.config.js
/postcss.config.js
/stylelint.config.js
/tsconfig.json
/tslint.json
/*.gif
/dist
/*.html
/.github
/rev-manifest.json
/docs