/*GENERAL*/

input[type=number],
input[type=text],
select {
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  -webkit-appearance: none;
  -webkit-border-radius: 0!important;
  background-color: white;
  background-position: right center;
  background-repeat: no-repeat;
  outline: 0;
}

input[type=number]:focus,
input[type=text]:focus,
select:focus {
  outline: 0;
}

select {
  background: transparent!important;
}

























/*TEXTBOX*/

.textbox__wrapper {
  height: auto;
}

.textbox__container {
  position: relative;
}

input[type=number].textbox__input,
input[type=text].textbox__input {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  padding: 2%;
  border: 1px solid #e5e5e5;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type=number].textbox__input.error,
input[type=text].textbox__input.error {
  border: 1px solid #ff5a57;
  color: #ff5a57;
}

input[type=number].textbox__input.success,
input[type=text].textbox__input.success {
  border: 1px solid #2fca6f;
  color: #2fca6f;
}

input[type=number].textbox__input.disabled,
input[type=text].textbox__input.disabled {
  border: 1px solid #ccc;
  color: #ccc;
  background: #f8f8f8;
  cursor: not-allowed;
}

.msg.error {
  margin-top: 2px;
  font-size: 12px;
  color: #ff5a57;
  padding-left: 4px;
}

.msg.success {
  margin-top: 2px;
  font-size: 12px;
  color: #2fca6f;
  padding-left: 4px;
}

::-webkit-input-placeholder {
  color: #a5a5a5;
}

:-ms-input-placeholder {
  color: #a5a5a5;
}

::-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

:-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}


/*RADIOBOX*/

input[type="radio"] {
  position: absolute;
  opacity: 0;
  display: none;
}

.radiobox__wrapper.disabled,
.radiobox__container.disabled,
.radiobox__input.disabled,
.radiobox__label.disabled:before {
  color: #ccc;
  cursor: not-allowed;
}

.radiobox__label {
  display: flex;
  align-items: center;
}

.radiobox__label:before {
  content: '';
  border: 1px solid #ff5a57;
  border-radius: 100%;
  display: iblock;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radiobox__label.disabled:before {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.radiobox__label.checked:before {
  background-color: #ff5a57;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}


/*CHECKBOX*/

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox__wrapper {}

.checkbox__container {
  display: flex;
  align-items: center;
}

.checkbox__wrapper.disabled {}

.checkbox__container.disabled {}

.checkbox__box {
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.checkbox__box.disabled {
  background: #f8f8f8;
}

.checkbox__box.error {
  border-color: #ff5a57;
}

.checkbox__box.success {
  border-color: #2fca6f;
}

.checkbox__box.checked .box {
  opacity: 1;
}

.checkbox__box .box {
  content: '';
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid #4a4a4a;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}