/*GENERAL*/

input[type='password'],
input[type='phone'],
input[type='number'],
input[type='text'],
textarea,
select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  background-position: right center;
  background-repeat: no-repeat;
  /*outline: 0;*/
}

input[type='password']:focus,
input[type='phone']:focus,
input[type='number']:focus,
input[type='text']:focus,
select:focus {
  /*outline: 0;*/
}

select {
  background: transparent !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*TEXTBOX*/

.textbox__wrapper,
.textbox__wrapper *:focus {
  /*outline: 0;*/
}

.textbox__wrapper.disabled,
.textbox__wrapper.disabled div {
  cursor: not-allowed;
}

.textbox__wrapper {
  height: auto;
}

.textbox__container {
  /*position: relative;*/
}

input[type='password'].textbox__input,
input[type='phone'].textbox__input,
input[type='number'].textbox__input,
input[type='text'].textbox__input {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  padding: 2%;
  border: 1px solid #e5e5e5;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type='password'].textbox__input.error,
input[type='phone'].textbox__input.error,
input[type='number'].textbox__input.error,
input[type='text'].textbox__input.error {
  border: 1px solid #ff5a57;
  color: #ff5a57;
}

input[type='password'].textbox__input.success,
input[type='phone'].textbox__input.success,
input[type='number'].textbox__input.success,
input[type='text'].textbox__input.success {
  border: 1px solid #2fca6f;
  color: #2fca6f;
}

input[type='password'].textbox__input.disabled,
input[type='phone'].textbox__input.disabled,
input[type='number'].textbox__input.disabled,
input[type='text'].textbox__input.disabled {
  border: 1px solid #ccc;
  color: #ccc;
  background: #f8f8f8;
  cursor: not-allowed;
}

.msg.error {
  margin-top: 2px;
  font-size: 12px;
  color: #ff5a57;
  padding-left: 4px;
}

.msg.success {
  margin-top: 2px;
  font-size: 12px;
  color: #2fca6f;
  padding-left: 4px;
}

::-webkit-input-placeholder {
  color: #a5a5a5;
}

:-ms-input-placeholder {
  color: #a5a5a5;
}

::-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

:-moz-placeholder {
  color: #a5a5a5;
  opacity: 1;
}

/*TEXTAREA*/

.textarea__wrapper,
.textarea__wrapper *:focus {
  /*outline: 0;*/
}

.textarea__wrapper.disabled,
.textarea__wrapper.disabled div {
  cursor: not-allowed;
}

.textarea__wrapper {
  height: auto;
}

.textarea__container {
  /*position: relative;*/
}

textarea.textarea__input {
  resize: none;
  /*outline: none;*/
  display: block;
  margin: 0;
  width: 100%;
  font-size: 14px;
  padding: 2%;
  border: 1px solid #e5e5e5;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

textarea.textarea__input.error {
  border: 1px solid #ff5a57;
  color: #ff5a57;
}

textarea.textarea__input.success {
  border: 1px solid #2fca6f;
  color: #2fca6f;
}

textarea.textarea__input.disabled {
  border: 1px solid #ccc;
  color: #ccc;
  background: #f8f8f8;
  cursor: not-allowed;
}

/*RADIOBOX*/

.radiobox__wrapper,
.radiobox__wrapper *:focus {
  /*outline: 0;*/
}

.radiobox__wrapper.disabled,
.radiobox__wrapper.disabled label,
.radiobox__wrapper.disabled div {
  cursor: not-allowed;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
  display: none;
}

.radiobox__wrapper.disabled,
.radiobox__container.disabled,
.radiobox__input.disabled,
.radiobox__label.disabled:before {
  color: #ccc;
  cursor: not-allowed;
}

.radiobox__label {
  display: inline-block\9;
  display: flex;
  align-items: center;
}

.radiobox__label:before {
  content: '';
  border: 1px solid #e5e5e5;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radiobox__label.disabled:before {
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.radiobox__label.checked:before {
  background-color: #4a4a4a;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.button.radiobox__item {
  display: inline-block\9;
  width: auto;
}

.radiobox__item.success .radiobox__label.checked:before {
  border-color: #2fca6f;
}

.radiobox__item.error .radiobox__label:before {
  border-color: #ff5a57;
}

.radiobox__item.disabled.error .radiobox__label:before {
  border-color: #ccc;
}

/*CHECKBOX*/

.checkbox__wrapper,
.checkbox__wrapper *:focus {
  /*outline: 0;*/
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.checkbox__wrapper {
  /*outline: none;*/
}

.checkbox__wrapper.disabled,
.checkbox__wrapper.disabled div {
  cursor: not-allowed;
}

.checkbox__input {
  display: none;
}

.checkbox__container {
  display: flex;
  align-items: center;
}

.checkbox__wrapper.disabled {
}

.checkbox__container.disabled {
}

.checkbox__box {
  vertical-align: middle\9;
  display: inline-block\9;
  width: 15px;
  height: 15px;
  position: relative;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
}

.checkbox__container label > div {
  vertical-align: middle\9;
  display: inline-block\9;
}

.checkbox__box.disabled {
  background: #f8f8f8;
}

.checkbox__box.error {
  border-color: #ff5a57;
}

.checkbox__box.disabled.error {
  border-color: #ccc;
}

.checkbox__box.success {
  border-color: #2fca6f;
}

.checkbox__wrapper.checked .checkbox__box .box {
  opacity: 1;
}

.checkbox__box .box {
  content: '';
  width: 8px;
  height: 4px;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 3px solid #4a4a4a;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}

.button {
  width: 100%;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  overflow: visible;
}

/*SELECT*/
.select__wrapper,
.select__wrapper *:focus {
  /*outline: 0;*/
}

/*.select__wrapper:focus .select__container{
  outline-color: #cecece;
  outline-style: solid;
}*/

.select__wrapper.disabled,
.select__wrapper.disabled div {
  cursor: not-allowed;
}

.select__wrapper {
  cursor: pointer;
  /*outline: none;*/
  position: relative;
}

.select__input {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select__container {
  padding: 2%;
  /*position: relative;*/
  border: 1px solid #e5e5e5;
}

.select__container .select__button {
  outline: none;
}

.select__container.error {
  border-color: #ff5a57;
}

.select__container.disabled.error {
  border-color: #ccc;
}

.select__container.success {
  border-color: #2fca6f;
}

.select__container.disabled {
  background: #f8f8f8;
}

.select__options-item {
  background: #fff;
  transition: background 0.4s, color 0.2s;
  cursor: none;
  padding: 10px 0;
}

.select__options-item span {
  padding: 0 10px;
}

.select__options-item-show-cursor {
  cursor: pointer;
}

.select__searchInputWrapper {
  padding: 10px;
  position: relative;
  display: flex;
}

.select__searchInputSearchIcon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.select__searchInputRemoveIcon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}

.select__searchInput {
  padding: 0 30px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 14px;
  height: 40px;
  width: 100%;
  border: 1px solid #dfe2e7;
  color: #7f8fa4;
  display: block;
}

.select__no-mouse {
  cursor: none;
}

.select__hover-active {
  background: #ff5a57;
  color: #fff;
}

.select__options-item.active {
  background: #d3d3d3;
  color: #fff;
}

.select__options-wrapper-animate {
  z-index: 1;
  margin-top: 2%;
  position: absolute;
  background: #fff;
  width: 100%;
  opacity: 0;
  left: 50%;
  transform-origin: 0 0;
  transition: transform 0.4s, opacity 0.2s;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  z-index: -1;
  transform: translate(-50%, 0) scale(1, 0);
}

.select__options-wrapper-animate.show {
  transform: translate(-50%, 0) scale(1, 1);
  opacity: 1;
  z-index: 3;
}

.select__options-wrapper {
  border: 1px solid #bbbbbb;
  z-index: 1;
  margin-top: 2%;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 50%;
  display: none;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08), 0 0 1px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);
}

.select__options-wrapper.show {
  display: block;
}

.select__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select__dropdown-icon {
  width: 2%\9;
  display: inline-block\9;
  width: 20px;
  height: 20px;
}

.select__dropdown-name {
  width: 98%\9;
  display: inline-block\9;
}

.select__dropdown-icon.showArrow:before {
  content: '';
  /*  position: absolute;
  top: 50%;
  transform: translateY(-50%);*/
  border-style: solid;
  display: inline-block;
  width: 0;
  border-width: 8px 8px 0;
  border-color: #e3e3e3 transparent;
}

.select__dropdown-icon-container {
  position: relative;
}
